html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* App */
.app {
  height: 100vh;
}

.app__content {
  padding: 0 !important;
  padding-top: 76px !important;
  padding-bottom: 50px !important;
}

/** lottie */
.moving-food {
  width: 70%;
}

.intro-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  height: 70%;
}

.intro-page__title {
  font-size: 2.5rem;
  margin: 0.5rem 0 2rem 0;
  color: #43a049;
}

.header {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 10px 5px;
}

.header__logo {
  width: 135px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.217) !important;
          box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.217) !important;
}

.bottom-nav__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
}

/*! Create Recipe */
.create-recipe {
  /* position: absolute; */
  left: 0;
  padding: 0 !important;
}

.create-recipe__row {
  margin-top: 5px;
  margin-bottom: 15px;
}

.create-recipe__row:last-child {
  margin-bottom: 76px;
}

.create-recipe__row h2 {
  padding-left: 30px;
}

.create-recipe__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.food-card {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
}

.food-card__mark {
  width: 30px;
  height: 30px;
  background-color: blue;
}

.food-card .MuiCardContent-root {
  padding: 4px 16px;
}

.create-recipe__button {
  position: fixed !important;
  bottom: 90px;
  right: 30px;
}

.MuiBox-root {
  padding: 0 !important;
  padding-top: 24px !important;
}

/*! My Profile */
.my-profile {
  padding-bottom: 3rem;
}

.my-profile__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-profile__head h2 {
  margin-left: 1rem;
}

/*! Menu section */
.MuiTypography-root.MuiTypography-body1 {
  min-height: 75vh;
}

.menu__title {
  color: rgba(0, 0, 0, 0.406);
}

.menu__default {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__default h3 {
  font-size: 3rem;
  color: #bfd4bf;
}

.grammage-text {
  font-size: 2rem;
  color: #000000;
}

.create-recipe {
  position: relative;
}
/*# sourceMappingURL=App.css.map */